{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/phases/(.*)$",
    "^@/roles/(.*)$",
    "^@/session/(.*)$",
    "^@/sync/(.*)$",
    "^@/lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["clsx", "cn", "cva"]
}
