@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-helden-yellow: #fddb00;
}

@utility bg-helden-yellow-gradient {
  background: linear-gradient(120deg, #fddb00 14.62%, #fda400 68.41%);
}

.manrope-font {
  font-family: 'Manrope', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
}
